.page-nav-wrap {
  position: relative;
  width: 130px;
  height: 38px;
}

.page-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 14px;
  background: #ffc433;
  border-radius: 8px;
  cursor: pointer;
}

.page-link-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.3s ease-in-out;
}
.page-link-wrap{
  padding: 4px 6px;
}
.page-link {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.dropdown-option {
  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.page-nav:hover .dropdown-option {
  opacity: 1;
  height: auto;
  overflow: visible;
  pointer-events: auto;
}

.arrow-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.page-nav:hover .arrow-icon {
  transform: rotate(270deg);
}