@import 'normalize.css';
:root {
  --background: #FFF8E5;
  --darkGreen: #377C40;
  --lightGreen: #4FB15C;
  --backgroundGray: #F2EBD9;
  --yellowDark: #FFC433;
  --yellowLight: #FFE299;
  color: #333333;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: var(--font-red-hat-dispaly);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul,
li{
  list-style: none;
}

