.pizzas-wrap{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background: #F2EBD9;
   border-radius: 12px;
   border: 1px solid #FFC433;
   padding: 16px 26px;
   gap: 14px;
   width: fit-content;
}
.pizzas-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.pizzas-size, .pizzas-edit, .size-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.size-item{
    cursor: pointer;
    transition: .3s;
}
.size-item-hover:hover{
   opacity: .5;
}
.size-circle{
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background: #ffffff;
   border: 1px, solid, #cccccc;
}
.size-circle-active{
   background: #377C40;
   border: 1px, solid, #377C40;
}
.size-text-active{
  font-weight: 700;
  color: #377C40;
}
.pizza-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    background: #FFDA80;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: .3s;
}
.pizza-item:hover{
  background: #FFE299;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
.pizza-name{
    font-family: var(--font-red-hat-dispaly);
    font-size: 18px;
    font-weight: 600;
    color: #F1272B;
}
.pizza-circle{
 width: 14px;
 height: 14px;
 border: 1px solid #F1272B;
 border-radius: 50%;
}
.pizzas-btn{
    text-align: center;
    border-radius: 14px;
    width: 200px;
    padding: 16px 0;
    background: #377C40;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: .3s;
    cursor: pointer;
    margin: 20px 0;
}
.pizzas-btn:hover{
 background-color: #4FB15C;
}
.pizzas-edit-text{
  font-weight: 500;
}
.pizzas-edit{
    border: 1px solid #333333;
    border-radius: 8px;
    padding: 4px 10px;
    background-color:  #FFC433;
    transition: .3s;
    cursor: pointer;
}
.edit-icon-wrap{
  width: 20px;
  height: 20px;
}
.pizzas-edit:hover{
   background-color: #fedc87;
}
  /* ================================== 1120 */
  @media (max-width: 1120px) {
    .pizza-item{
        width: 180px;
        padding: 8px 16px;
    }
    .pizza-name{
        font-family: var(--font-red-hat-dispaly);
        font-size: 16px;
        font-weight: 600;
        color: #F1272B;
    }
    .pizzas-wrap{
        padding: 12px 18px;
        gap: 14px;
     }
     .pizzas-btn{
        width: 170px;
        font-size: 18px;
    }
  }
  @media (max-width: 768px) {
   .pizzas-list{
    padding: 12px;
    height: 180px; 
    overflow-y: auto; 
    overflow-x: hidden;
    border: 1px solid #cccccc;
    border-radius: 8px;
   }
   .pizzas-btn{
    margin: 10px 0;
   }

  }
